*
.bash_*
!.config
.config/**
.cache/**
!.dwm
!.dwm/**
!.config/dunst/
!.config/dunst/**
!.config/terminator/
!.config/terminator**
!.config/neofetch/
!.config/neofetch/**
!.cache
!.cache/custom-scripts
!.cache/custom-scripts/**
!.gitignore
!.bashrc
!.vimrc
!.xbindkeysrc
!.xinitrc
!README.md
